@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: "Nunito", sans-serif;
}


/*header and heading logos*/

header {
    height: 2em;
    width: 100vw;
}

#home-button {
    float: left;
}

#highscore-button {
    float: right;
}

/* title and intro-text*/

#title-home {
    width: 60vw;
    height: 3em;
    margin: auto;
    padding-top: 1em;
    text-align: center;
    color: white;
}

#intro-text {
    font-family: "Poppins", sans-serif;
    font-size: large;

    width: 60vw;
    height: 2em;
    margin: auto;
    margin-top: 1em;
    text-align: center;
    color: white;
}

/*highscore button*/

#highscore {
    width: 15em;
    height: 5em;
    border-style: groove;
    border-color: black;
    background-color: #002171;
    color: white;
    margin-top: 7em;
}

#highscore-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6em;
    margin-top: 7em;
}

#highscore-text {
    font-size: 200%;
}

/* start button*/

#start-button {
    height: 20em;
    width: 20em;
    border-radius: 50%;
    margin-top: 7em;
    border-style: groove;
    border-color: black;
    background-color: #002171;
    color: white;
    
}

#button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
    margin-top: 9em;
}

#start-text {
    font-size: 250%;
}

/* hearth and circle counter*/

.heart {
    display: inline;
    font-size: 3em;
    margin: 1em;
    color: darkred;
}

#counters {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
}

/* questions counter and gamer name*/

#counter-container {
    height: 3em;
    width: 100vw;
}

#gamer-name {
    height: 2em;
    border-style: groove;
    border-color: black;
    background-color: grey;
    color: white;
    float: left;
    margin-left: 4.5em;
}

#questions-counter {
    height: 2em;
    border-style: groove;
    border-color: black;
    background-color: grey;
    color: white;
    float: right;
    margin-right: 4.5em;
}

/* country flag and question*/

#country-flag {
    height: 8em;
    width: 8em;
    padding: 1%;
    margin-right: 2em;
    margin-top: -1em;
    border-radius: 50%;
    border-style: groove;
    border-color: black;
    background-color: grey;
}

#main-question {
    height: 6em;
    width: 60em;
    padding: 1%;
    margin-right: 15em;
    border-style: groove;
    border-color: black;
    background-color: grey;
}

#question-container {
    margin-top: 1em;
    display: flex;
    justify-content: center;

}

/*question buttons*/

#button-container {
    display: flex;
    flex-direction: column;
}

.button-question {
    height: 7em;
    width: 60em;
    margin: auto;
    background-color: grey;
    border-style: groove;
    border-color: black;
    margin-top: 1em;
}

/* restart/quit button*/

#restart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

#restart-button {
    height: 5em;
    width: 15em;
    border-style: groove;
    border-color: black;
    background-color: grey;

}

/*highscore header*/

#highscore-heading {

    width: 15em;
    margin: auto;
    text-align: center;
    margin-top: 0.5em;
    border-style: groove;
    border-color: black;
    background: grey;
    color: white;

    font-family: "Poppins", sans-serif;
    font-size: 3em;

}

/*highscore content*/

.page-wrap img {

    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    z-index: -1;
}

#highscore-wrap {
    height: 35em;
    width: 35em;
    margin: auto;
    margin-top: 1.5em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.player-wrap { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: groove;
    border-color: black;
    background: grey;
    color: white;
    font-size: x-large;
}
