@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: "Nunito", sans-serif;
}


/*header and nav bar*/

header {
    height: 2em;
    width: 100vw;
    margin-top: 10px;
}

#menu {
    float: right;
    margin-right: 3vw;
}

#menu li {
    margin: 0.6em;
    display: inline;
    font-size: large;
}

#menu a {
    color: white;
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid white;
}

#home-button {
    float: left;
}

#highscore-button {
    float: right;
}

.active {
    border-bottom: 1px solid white;
}

/* title and intro-text*/

#title-home {
    font-family: "Poppins", sans-serif;
    width: 60vw;
    height: 3em;
    margin: auto;
    padding-top: 1em;
    text-align: center;
    color: white;
    font-weight: 800;
}

#intro-text {
    font-size: large;
    font-weight: 800;

    width: 60vw;
    height: 2em;
    margin: auto;
    margin-top: 1em;
    text-align: center;
    color: white;
}

/*highscore button*/

#highscore {
    width: 15em;
    height: 5em;
    border-style: groove;
    border-color: black;
    border-radius: 15px 50px;
    background-color: gray;
    color: white;
}

#highscore-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6em;
    margin-top: 2em;
}

#highscore-text {
    font-size: 200%;
}

#instruction-text {
    font-size: 200%;
}

/* start button*/

#start-button {
    height: 6em;
    width: 20em;
    margin-top: 1em;
    border-radius: 50px;
    border-style: groove;
    border-color: black;
    background-color: gray;
    color: white;
}

#start-button a {
    text-decoration: none;
    color: white;
}

#button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
    margin-top: 14em;
}

#start-text {
    font-size: 250%;
}


/* questions counter and gamer name*/

#counter-container {
    height: 3em;
    width: 100vw;
    margin-top: 3em;
}

#gamer-name {
    height: 2em;
    width: 12em;
    border-style: groove;
    border-color: black;
    border-radius: 15px 50px;
    background-color: grey;
    color: white;
    float: left;
    margin-left: 2.5em;
    text-align: center;
    font-family: "Poppins", sans-serif;
    line-height: 2em;
}

#gamer-name p {
    font-size: 3em;
}

#questions-counter {
    height: 2em;
    width: 12em;
    border-style: groove;
    border-color: black;
    border-radius: 15px 50px;
    background-color: grey;
    color: white;
    float: right;
    margin-right: 2.5em;
    text-align: center;
    font-family: "Poppins", sans-serif;
    line-height: 2em;
}

/* Main question*/


#main-question {
    height: 2em;
    width: 50em;
    padding: 1%;
    border-style: groove;
    border-color: black;
    background-color: grey;
    color: white;
    border-radius: 15px 50px;
    text-align: center;
    font-weight: 800;
    font-size: 120%;
    font-family: "Poppins", sans-serif;
    line-height: 2em;
}

#question-container {
    margin-top: 3em;
    display: flex;
    justify-content: center;
}

/*question buttons*/

#button-container {
    display: flex;
    flex-direction: column;
}

.button-question {
    height: 5em;
    width: 40em;
    margin: auto;
    background-color: grey;
    border-style: groove;
    border-color: black;
    border-radius: 50px;
    margin-top: 3.5em;
    font-weight: 600;
    color: white;
    line-height: 2em;
}

/*highscore header*/

#highscore-heading {

    width: 15em;
    margin: auto;
    text-align: center;
    margin-top: 0.5em;
    border-style: groove;
    border-color: black;
    border-radius: 15px 50px;
    background: grey;
    color: white;
    font-weight: 800;

    font-family: "Poppins", sans-serif;
    font-size: 3em;

}

/*highscore content*/

.page-wrap img {

    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    z-index: -1;
}

#highscore-wrap {
    height: 35em;
    width: 35em;
    margin: auto;
    margin-top: 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.player-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-style: groove;
    border-color: black;
    border-radius: 50px;
    background: grey;
    color: white;
    font-size: x-large;
    font-weight: 800;
}

.instruction-toggle {
    display: none;
    padding: 10rem;
    font-size: large;
    color: white;
}

/* /*Modal*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #061727;
    color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 15px;
    width: 40%; /* Could be more or less, depending on screen size */
    height: 50%;
    text-align: center;
    line-height: 2.5em;
    font-family: "Poppins", sans-serif;

  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    text-decoration: none;
    cursor: pointer;
  }

/* enter name label + field */
label {
    display: block;
    font-size: x-large;
    font-family: "Poppins", sans-serif;
    
}

input,
label {
    margin: .4rem 0;
}

.name-field{
    border: black;
    border-style: solid;
    height: 2rem;
    padding: 0.4rem;
    width: 16rem;
    margin-top: 3em;
    font-size: x-large;
}

#confirm-button-div {
    margin-top: 6.2em;
}

/* media queries */

@media screen and (max-height: 750px) {
    #intro-text {
        font-size: medium;
    }
    #button-div {
        margin-top: 10em;
    }
    #highscore-div {
        margin-top: 2em;
    }
}

@media screen and (max-height: 680px) {
    #title-home {
        font-size: medium;
    }
    #highscore-div {
        margin-top: 1em;
    }
    #intro-text {
        font-size: medium;
        margin-top: 1em;
    }
    #button-div {
        margin-top: 14em;
    }
    #start-button {
        height: 5em;
        width: 15em;
    }
    #start-text {
        font-size: 200%;
    }
    #highscore {
        height: 5em;
        width: 12em;
    }
    #highscore-text {
        font-size: 200%;
    }
}

@media screen and (max-height: 640px) {
    #highscore-div {
        margin-top: 0;
    }
    #intro-text {
        margin-top: 1em;
    }
    #button-div {
        margin-top: 12em;
    }
}

@media screen and (max-width: 420px) {
    #intro-text {
        font-size: small;
    }
    #title-home {
        font-size: small;
    }
    #start-button {
        height: 5em;
        width: 10em;
    }
    #highscore {
        height: 5em;
        width: 8em;
    }
    #start-text {
        font-size: 150%;
    }
    #highscore-text {
        font-size: 130%;
    }
    #menu li {
        font-size: small;
    }
}